/**
 * Place your custom styles here.
 */
#admin-menu li {
  position: static;
}

#admin-menu li:before {
  content: none;
}

.red-text {
  color: #FE4A49;
}

.no-bullets {
  list-style-type: none;
}

.no-bullets li:before {
  content: none;
}

.ka-hidden {
  display: none;
}

.form-item.error-processed input[type="text"] {
  border-color: #FE4A49;
}

.krumo-root {
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-item .counter {
  display: none;
}

.preview .node {
  background-color: #EFEFEF;
}

a.header {
  color: inherit;
}

.show-calendar .calendar {
  border-collapse: inherit !important;
  margin: inherit !important;
  width: inherit !important;
}

#eventTable tr.eventItem {
  display: none;
}

#eventTable tr.eventItem.visible-row {
  display: table-row;
}

.addthis-holder .at-icon-wrapper {
  display: none;
}

.tingle-newsletter .tingle-modal-box {
  width: 50%;
}

b.disabled {
  color: #898989;
}

.list-view .list-item{
  min-height: 200px !important;
}

a[data-organiser-sort] {
  cursor: pointer;
}

#edit-pass{
  background: #efefef;
}

.form-item-pass-pass2{
  width: 100%;
}

.form-item-pass-pass1{
  width: 100%;
}

.password-help{
  padding-right: 2rem;
}
