include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content align-center">
      
      <div class="inline">
         
         
         <div class="image-404">
            <img src="assets/imgs/404-image.svg" />
            <span class="image-404-text">
               <h1>Vabandust! <br />Lehekülge ei leitud...</h1>
               <p>Tundub, et otsitavat lehte ei eksisteeri või liigutati see mujale.</p>
            </span><!--/image-404-text-->
         </div><!--/404-image-->
         
         <center>
            <a href="" class="btn btn-inactive min-width">Tagasi</a>
            <a href="" class="btn min-width">Avalehele</a>
         </center>
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
