include "modules/head.html"
<div class="wrapper">
	include "modules/header.html"
	<section class="content">
		<div class="inline">
			
			<div class="row">
				<div class="col-6">
					<h1>Heading 1 - 40px jumps over the lazy dog</h1>
					<p>
						Minim illustriora incididunt quid occaecat. A elit tamen se vidisse hic a ab 
						<a href="" class="before-twitter">Follow us</a> dolor probant, ipsum hic senserit quo cillum est quae eu quibusdam quo dolore. 
						Quid mandaremus ingeniis, quo magna nisi quorum ingeniis do legam cernantur in 
						veniam anim ut <i>so italian much spaghetti</i> litteris velit ea quamquam reprehenderit ubi enim appellat qui 
						appellat, quae eiusmod reprehenderit, ex elit <u>under the rainbowz?</u> exercitation non aliqua pariatur 
						distinguantur. Quibusdam illum incididunt senserit, hic e lorem summis sint. 
						Duis in laborum a tamen. Nam ipsum <a href="" class="before-tags">Tag me?</a> veniam ad cernantur si ad ex culpa probant, e 
						veniam pariatur instituendarum, noster se incididunt quo ullamco ex minim, 
						commodo voluptatibus est expetendis, lorem o possumus ea cillum in do veniam 
						comprehenderit. Commodo summis cupidatat possumus o sed offendit o quamquam.
					</p>
					<h2>Heading 2 - 36px jumps over the lazy dog</h2>
					<p>
						Noster o commodo ne enim ut laboris hic doctrina, qui fore coniunctione id 
						quibusdam lorem <br /><a href="" class="before-trash">One man's trash is another man's treasure</a> fabulas, admodum ex minim offendit ita nostrud eu eram aut malis 
						eu doctrina ubi quorum, fore appellat eu irure magna. Te anim voluptate 
						domesticarum eu do nulla de elit, te aute mentitum incurreret, labore deserunt 
						quo occaecat. Ne elit summis summis excepteur. Est ingeniis sempiternum, 
						consequat ex tamen qui tamen mandaremus an laboris de dolor a laboris do quo 
						labore appellat est o <a href="" title="#long_title1">Tooltip example</a>, arbitror legam in vidisse adipisicing, 
						pariatur aut quem ullamco. Culpa ea o fugiat singulis, sint se appellat a malis 
						hic nulla deserunt quo comprehenderit, do appellat familiaritatem ubi qui a 
						reprehenderit, vidisse nisi enim appellat fore ex occaecat tamen dolore se 
						veniam ita o <a href="" class="before-location">Just a random link with icon</a> eram graviterque. Ex ex quis nescius te nulla deserunt se noster 
						illum, non<br /> <a href="" class="after-location">Just a random link with icon</a> labore noster minim fabulas, proident dolor se admodum domesticarum. 
						Sunt nostrud laborum ut cupidatat aute iudicem mentitum an noster possumus o 
						fidelissimae, fabulas velit ubi fabulas firmissimum.
					</p>
					<div id="long_title1" class="title-content">
						<h3>Väga suure sisuga tooltip</h3>
						<p>Mentitum ubi aute. Ita hic anim malis nulla ut excepteur est varias arbitror, 
						nescius nisi amet tempor amet iis incididunt ne labore. Do lorem ipsum minim 
						fabulas, ex ubi familiaritatem, commodo quid a nescius sempiternum te offendit 
						lorem sunt quamquam noster, non sint minim e fabulas ea nulla laboris iudicem, 
						officia ea laboris nam ingeniis hic fabulas. Ab nisi doctrina cernantur. O quis 
						despicationes, sint incurreret in adipisicing. Ex ipsum laboris iudicem do 
						ingeniis te dolore eiusmod do sint iudicem iis voluptatibus in in quorum 
						singulis transferrem ex tamen coniunctione cupidatat varias mentitum et arbitror 
						te consequat te aut legam eruditionem de qui aliquip nam incurreret.</p>
					</div><!--/tooltip-content-->
					<p>
						Ingeniis duis ipsum cupidatat quorum, senserit et sint, legam admodum probant e 
						malis laboris eu summis culpa. An quem iudicem. Ne iis nulla vidisse. Admodum 
						velit cernantur eu ullamco tamen arbitror doctrina. Doctrina quis anim ad lorem, 
						dolore cohaerescant commodo quorum mandaremus nam fore probant cupidatat, do 
						fugiat proident familiaritatem, quid efflorescere possumus noster appellat an 
						nam et magna esse noster, aute mandaremus o exercitation o quem praesentibus 
						aliquip varias <a href="" class="link secondary before-trash">delete all the things</a> excepteur. Ubi se domesticarum se fugiat nam ex ipsum deserunt an 
						qui ullamco domesticarum, ubi ullamco relinqueret a hic labore culpa nisi 
						mentitum quo ita tempor et pariatur, e cillum mentitum a do nisi singulis 
						occaecat. Vidisse eu magna arbitror, possumus fugiat in mandaremus efflorescere.
					</p>
				</div><!--/col-6-->
				<div class="col-6">
					<div class="row">
						<div class="col-6">
							<h3>Heading 3 - 30px jumps over the lazy dog <a href="">with link</a></h3>
							<p>
								Minim illustriora incididunt quid occaecat. A elit tamen se vidisse hic a ab 
								dolor probant, ipsum hic senserit quo cillum est quae eu quibusdam quo dolore. 
								Quid mandaremus ingeniis, quo magna nisi quorum ingeniis do legam cernantur in 
								veniam anim ut litteris velit ea quamquam reprehenderit ubi enim appellat qui 
								appellat, quae eiusmod reprehenderit, ex elit exercitation non aliqua pariatur 
								distinguantur. <b>Quibusdam illum incididunt</b> senserit, hic e lorem summis sint. 
								Duis in laborum a tamen. Nam ipsum veniam ad cernantur si ad ex culpa probant, e 
								veniam pariatur instituendarum, noster se incididunt quo ullamco ex minim, 
								commodo voluptatibus est expetendis, lorem o possumus ea cillum in do veniam 
								comprehenderit. Commodo summis cupidatat possumus o sed offendit o quamquam.
							</p>
							<h4>Heading 4 - 26px jumps <br /><a href="" class="before-tick">I'm going!</a></h4>
							<p>
								Noster o commodo ne enim ut laboris hic doctrina, qui fore coniunctione id 
								quibusdam lorem fabulas, admodum ex minim offendit ita nostrud eu eram aut malis 
								eu doctrina ubi quorum, fore appellat eu irure magna. Te anim voluptate 
								domesticarum eu do nulla de elit, te aute mentitum incurreret, labore deserunt 
								quo occaecat. Ne elit summis summis excepteur. Est ingeniis sempiternum, 
								consequat ex tamen qui tamen mandaremus 
							</p>

						</div><!--/col-6-->
						<div class="col-6">
							<h5>Heading 5 - 24px jumps over the lazy dog</h5>
							<p>
								Minim illustriora incididunt quid occaecat. A elit tamen se vidisse hic a ab 
								dolor probant, ipsum hic senserit quo cillum est quae eu quibusdam quo dolore. 
								Quid mandaremus ingeniis, quo magna nisi quorum ingeniis do legam cernantur in 
								veniam anim ut litteris velit ea quamquam reprehenderit ubi enim appellat qui 
								appellat, quae eiusmod reprehenderit, ex elit exercitation non aliqua pariatur 
								distinguantur. Quibusdam illum incididunt senserit, hic e lorem summis sint. 
								Duis in laborum a tamen. Nam ipsum veniam ad cernantur si ad ex culpa probant, e 
								veniam pariatur instituendarum, noster se incididunt quo ullamco ex minim, 
								commodo voluptatibus est expetendis, lorem o possumus ea cillum in do veniam 
								comprehenderit. Commodo summis cupidatat possumus o sed offendit o quamquam.
							</p>
							<h6>Heading 6 - 18px jumps over the lazy dog</h6>
							<p>
								Noster o commodo ne enim ut laboris hic doctrina, qui fore coniunctione id 
								quibusdam lorem fabulas, admodum ex minim offendit ita nostrud eu eram aut malis 
								eu doctrina ubi quorum, fore appellat eu irure magna. Te anim voluptate 
								domesticarum eu do nulla de elit, te aute mentitum incurreret, labore deserunt 
								quo occaecat. Ne elit summis summis excepteur. Est ingeniis sempiternum, 
								consequat ex tamen qui tamen mandaremus 
							</p>

						</div><!--/col-6-->

					</div><!--/row-->
				</div><!--/col-6-->
				
			</div><!--/row-->
			
			<div class="row">
				<div class="col-12">
					<h1>Nupud</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row" style="margin-top:-1.25rem; text-align:center;">
				<div class="col-3">
					<a href="" class="btn" title="btn">Telli teavitused</a>
				</div><!--/col-3-->
				<div class="col-3">	
					<a href="" class="btn btn-inactive" title="btn btn-inactive">Laadi veel</a>
				</div><!--/col-3-->
				<div class="col-3">	
					<a href="" class="btn btn-filled" title="btn btn-filled">Salvesta jätka</a>
				</div><!--/col-3-->
				<div class="col-3">	
					<a href="" class="btn btn-empty" title="btn btn-empty">Avalikusta hiljem</a>
				</div><!--/col-3-->
				<div class="col-3">	
					<a href="" class="btn btn-plain" title="btn btn-plain">Homme</a>
				</div><!--/col-3-->
				<div class="col-3">	
					<a href="" class="btn btn-plain-secondary" title="btn btn-plain-secondary">Homme</a>
				</div><!--/col-3-->
				<div class="col-3">	
					<a href="" class="btn btn-text-only" title="btn btn-text-only">Hommik</a>
				</div><!--/col-3-->
				
				<div class="col-3">	
					
				</div><!--/col-3-->
				
				<div class="col-1">
					<a href="" class="btn btn-plain circle" title="btn btn-plain circle">E</a>
				</div><!--/col-1-->
				<div class="col-1">
					<a href="" class="btn btn-plain circle" title="btn btn-plain circle">T</a>
				</div><!--/col-1-->
				<div class="col-1">
					<a href="" class="btn btn-plain circle" title="btn btn-plain circle">K</a>
				</div><!--/col-1-->
				
				<div class="col-1">
					<a href="" class="btn btn-plain-secondary circle before-arrow_left" title="btn btn-plain-secondary circle before-arrow_left"></a>
				</div><!--/col-1-->
				<div class="col-1">
					<a href="" class="btn btn-plain-secondary circle active" title="btn btn-plain-secondary circle active">1</a>
				</div><!--/col-1-->
				<div class="col-1">
					<a href="" class="btn btn-plain-secondary circle  before-arrow_right" title="btn btn-plain-secondary circle  before-arrow_right"></a>
				</div><!--/col-1-->
				
				
				<div class="col-3" style="background:#000;">	
					<a href="" class="btn btn-inverted">Loe lähemalt</a>
				</div><!--/col-3-->
			</div><!--/row-->
			
			<div class="row" style="text-align:center;">
				<div class="col-1">
					<a href="" class="btn btn-filled circle before-tick"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-location"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-edit"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-exclamation"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-settings"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-tags"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-information"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-mail"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-modul"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-money"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-search"></a>
				</div><!--/col-1-->
				<div class="col-1">	
					<a href="" class="btn btn-filled circle before-grid"></a>
				</div><!--/col-1-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-12">
					<h1>Ikoonid</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row preview-icons">
				<div class="col-1">
					<i class="before-arrow_down" title="before-arrow_down"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-arrow_left" title="before-arrow_left"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-arrow_right" title="before-arrow_right"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-arrow_up" title="before-arrow_up"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-calendar" title="before-calendar"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-arrow" title="before-arrow"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-close" title="before-close"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-edit" title="before-edit"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-exclamation" title="before-exclamation"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-facebook" title="before-facebook"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-filter" title="before-filter"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-googleplus" title="before-googleplus"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-grid" title="before-grid"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-information" title="before-information"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-list" title="before-list"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-location" title="before-location"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-logout" title="before-logout"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-mail" title="before-mail"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-menu" title="before-menu"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-modul" title="before-modul"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-money" title="before-money"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-plus" title="before-plus"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-questionmark" title="before-questionmark"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-search" title="before-search"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-settings" title="before-settings"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-tags" title="before-tags"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-tick" title="before-tick"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-trash" title="before-trash"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-twitter" title="before-twitter"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-user" title="before-user"></i>
				</div><!--/col-2-->
				<div class="col-1">
					<i class="before-users" title="before-users"></i>
				</div><!--/col-2-->
            
            <div class="col-1">
					<i class="before-minus" title="before-minus"></i>
				</div><!--/col-2-->
            <div class="col-1">
					<i class="before-play" title="before-play"></i>
				</div><!--/col-2-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-12">
					<h1>Lingid</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-3">
					<a href="" class="link after-arrow_right">Vaata kõiki sündmusi</a>
				</div><!--/col-3-->
				<div class="col-3">
					<a href="" class="link secondary">Tühista</a>
				</div><!--/col-3-->
				<div class="col-3">
					<a href="" class="link after-calendar" title="#add_to_calendar" rel="interact">Lisa kalendrisse</a>
					<div id="add_to_calendar" class="title-content">
						<a href="" class="link secondary">iCloud Calendar</a>
						<a href="" class="link secondary">Google Calendar</a>
						<a href="" class="link secondary">Outlook calendar</a>
					</div><!--/title-content-->
				</div><!--/col-3-->
				<div class="col-3">
					<a href="" class="link shadow after-arrow_right">Vaata kõiki sündmusi</a>
				</div><!--/col-3-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-3">
					<a href="" class="link after-location">Asukoht</a>
				</div><!--/col-3-->
				<div class="col-3">
					<a href="" class="link secondary after-trash">Tühista</a>
				</div><!--/col-3-->
				<div class="col-3">
					<a href="" class="link after-settings">Seaded</a>
				</div><!--/col-3-->
				<div class="col-3">
					<a href="" class="link after-menu" title="#long_title">Pikem tooltip</a>
					<div id="long_title" class="title-content">
						<h3>Väga suure sisuga tooltip</h3>
						<p>Mentitum ubi aute. Ita hic anim malis nulla ut excepteur est varias arbitror, 
						nescius nisi amet tempor amet iis incididunt ne labore. Do lorem ipsum minim 
						fabulas, ex ubi familiaritatem, commodo quid a nescius sempiternum te offendit 
						lorem sunt quamquam noster, non sint minim e fabulas ea nulla laboris iudicem, 
						officia ea laboris nam ingeniis hic fabulas. Ab nisi doctrina cernantur. O quis 
						despicationes, sint incurreret in adipisicing. Ex ipsum laboris iudicem do 
						ingeniis te dolore eiusmod do sint iudicem iis voluptatibus in in quorum 
						singulis transferrem ex tamen coniunctione cupidatat varias mentitum et arbitror 
						te consequat te aut legam eruditionem de qui aliquip nam incurreret.</p>
					</div><!--/tooltip-content-->
				</div><!--/col-3-->
			</div><!--/row-->
			
			
			<div class="row">
				<div class="col-12">
					<h1>Tagid</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Sündmuste valdkonnad</h3>
						<ul class="tags">
							<li class="tag-1"><a href="">teater</a></li>
							<li class="tag-2"><a href="">film</a></li>
							<li class="tag-3"><a href="">muusika</a></li>
							<li class="tag-4"><a href="">näitus/muuseum</a></li>
							<li class="tag-5"><a href="">mess/laat</a></li>
							<li class="tag-6"><a href="">pidu/klubi</a></li>
							<li class="tag-7"><a href="">sport</a></li>
							<li class="tag-8"><a href="">kirjandus</a></li>
							<li class="tag-9"><a href="">muu</a></li>
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Huvitegevuste valdkonnad</h3>
						<ul class="tags">
							<li class="tag-4"><a href="">kunst/käsitöö</a></li>
							<li class="tag-5"><a href="">loodus</a></li>
							<li class="tag-3"><a href="">muusika</a></li>
							<li class="tag-7"><a href="">sport</a></li>
							<li class="tag-6"><a href="">tants</a></li>
							<li class="tag-1"><a href="">teater</a></li>
							<li class="tag-2"><a href="">tehnika</a></li>
							<li class="tag-8"><a href="">koolitus</a></li>
							<li class="tag-10"><a href="">laager</a></li>
							<li class="tag-9"><a href="">muu</a></li>
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
			
			
			<div class="row">
				<div class="col-12">
					<h1>Vormid</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-12">
					<h3>Inputs</h3>
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<div class="form-item">
								<div class="form-item_title">
									E-post
								</div><!--/form-item_label-->
								<input type="text" />
							</div><!--/form-item-->	
						</div><!--/col-12-->
					</div><!--/row-->
					<div class="row">
						<div class="col-12">
							<div class="form-item">
								<div class="form-item_title">
									E-post (filled)
								</div><!--/form-item_label-->
								<input type="text" value="henri@henri.ee" />
							</div><!--/form-item-->
						</div><!--/col-12-->
					</div><!--/row-->
					<div class="row">
						<div class="col-12">
							<div class="form-item form-error">
								<div class="form-item_title">
									E-post (error)
								</div><!--/form-item_label-->
								<input type="text" value="henri@henri.ee" />
							</div><!--/form-item-->
						</div><!--/col-12-->
					</div><!--/row-->
					
				</div><!--/col-6-->
				
				<div class="col-6">
					<div class="block borderless">
						<div class="row">
							<div class="col-12">
								<div class="form-item">
									<div class="form-item_title">
										E-post
									</div><!--/form-item_label-->
									<input type="text" />
								</div><!--/form-item-->	
							</div><!--/col-12-->
						</div><!--/row-->
						<div class="row">
							<div class="col-12">
								<div class="form-item">
									<div class="form-item_title">
										E-post (filled)
									</div><!--/form-item_label-->
									<input type="text" value="henri@henri.ee" />
								</div><!--/form-item-->
							</div><!--/col-12-->
						</div><!--/row-->
						<div class="row">
							<div class="col-12">
								<div class="form-item form-error">
									<div class="form-item_title">
										E-post (error)
									</div><!--/form-item_label-->
									<input type="text" value="henri@henri.ee" />
								</div><!--/form-item-->
							</div><!--/col-12-->
						</div><!--/row-->
					</div><!--/block-->
				</div><!--/col-6-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-6">
					<h3>Dropdown</h3>
					<div class="form-item">
						<div class="form-item_title">Filtreeri</div>
						
						<select data-plugin="SumoSelect">
							<option value="0">Vali kategooria</option>
							<option value="1">Teater</option>
							<option value="2">Film</option>
							<option value="3">Muusika</option>
							<option value="4">Näitus/Muuseum</option>
							<option value="5">Mess/Laat</option>
							<option value="6">Pidu/Klubi</option>
							<option value="7">Sport</option>
							<option value="8">Kirjandus</option>
							<option value="9">Muu</option>
						</select>
						
					</div><!--/form-item-->
				</div><!--/col-6-->
				<div class="col-6">
					<h3>Multiselect dropdown</h3>
					<div class="form-item">
						<div class="form-item_title">Filtreeri</div>
						<select data-plugin="SumoSelect" multiple="multiple" placeholder="Vali kategooria" captionFormat="Valikuid tehtud: {0}" captionFormatAllSelected="Kõik valikud valitud">
							<option value="1">Teater</option>
							<option value="2">Film</option>
							<option value="3">Muusika</option>
							<option value="4">Näitus/Muuseum</option>
							<option value="5">Mess/Laat</option>
							<option value="6">Pidu/Klubi</option>
							<option value="7">Sport</option>
							<option value="8">Kirjandus</option>
							<option value="9">Muu</option>
						</select>
					</div><!--/form-item-->
				</div><!--/col-6-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-6">
					<div class="block">
						<h3>Dropdown </h3>
						<div class="form-item">
							<div class="form-item_title">Filtreeri</div>
							<select data-plugin="SumoSelect">
								<option value="0">Vali kategooria</option>
								<option value="1">Teater</option>
								<option value="2">Film</option>
								<option value="3">Muusika</option>
								<option value="4">Näitus/Muuseum</option>
								<option value="5">Mess/Laat</option>
								<option value="6">Pidu/Klubi</option>
								<option value="7">Sport</option>
								<option value="8">Kirjandus</option>
								<option value="9">Muu</option>
							</select>
						</div><!--/form-item-->
					</div><!--/block-->
				</div><!--/col-6-->
				<div class="col-6">
					<div class="block">
						<h3>Multiselect dropdown</h3>
						<div class="form-item">
							<div class="form-item_title">Filtreeri</div>
							<select data-plugin="SumoSelect" multiple="multiple" placeholder="Vali kategooria" captionFormat="Valikuid tehtud: {0}" captionFormatAllSelected="Kõik valikud valitud">
								<option value="1">Teater</option>
								<option value="2">Film</option>
								<option value="3">Muusika</option>
								<option value="4">Näitus/Muuseum</option>
								<option value="5">Mess/Laat</option>
								<option value="6">Pidu/Klubi</option>
								<option value="7">Sport</option>
								<option value="8">Kirjandus</option>
								<option value="9">Muu</option>
							</select>
						</div><!--/form-item-->
					</div><!--/block-->
				</div><!--/col-6-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-6">
					<h3>Autocomplete</h3>
					<div class="form-item rounded-corners">
						<i class="after-search"></i>
						<input type="text" placeholder="Sisesta..." data-plugin="autocomplete" data-url="api/autocomplete.json" />
					</div><!--/form-item-->
					
				</div><!--/col-6-->
				
			</div><!--/row-->
			
			
			<div class="row">
				<div class="col-6">
					<h3>Datepicker</h3>
					
					<div class="form-item rounded-corners">
						<div class="form-item_title">Vali kuupäev:</div>
						<i class="after-calendar"></i>
						<input type="text" data-plugin="datepickerSingle" />
					</div><!--/form-item-->
					
				</div><!--/col-6-->
				
				<div class="col-6">
					<h3>Datepicker - range</h3>
					
					<div class="form-item rounded-corners">
						<div class="form-item_title">Vali kuupäev:</div>
						<i class="after-calendar"></i>
						<input type="text" data-plugin="datepickerRange"/>
					</div><!--/form-item-->
					
				</div><!--/col-6-->
				
			</div><!--/row-->
			
		</div><!--/inline-->
		
		
		
		<div class="no-background">
			<div class="inline">
				<div class="row">
					<div class="col-6">
						<h3>Radio button</h3>
						
						<div class="form-item">
							<div class="form-item_title">Sugu</div>
							<label>
								<span class="customRadio">
									<input type="radio" name="name" />
									<span class="indicator"></span>
								</span><!--/customRadio-->
								<span class="label-title">Mees</span>
							</label>
							<label>
								<span class="customRadio">
									<input type="radio" name="name" />
									<span class="indicator"></span>
								</span><!--/customRadio-->
								<span class="label-title">Naine</span>
							</label>
						</div><!--/form-item-->
					</div><!--/col-6-->
					<div class="col-6">
						<h3>Checkbox</h3>
						<div class="form-item">
							<div class="form-item_title">Vali kategooria</div>
							<label>
								<span class="customCheckbox">
									<input type="checkbox" name="name2" />
									<span class="indicator"></span>
								</span><!--/customRadio-->
								<span class="label-title">Autod</span>
							</label>
							<label>
								<span class="customCheckbox">
									<input type="checkbox" name="name2" />
									<span class="indicator"></span>
								</span><!--/customRadio-->
								<span class="label-title">Paadid</span>
							</label>
							<label>
								<span class="customCheckbox">
									<input type="checkbox" name="name2" />
									<span class="indicator"></span>
								</span><!--/customRadio-->
								<span class="label-title">Kaamlid</span>
							</label>
						</div><!--/form-item-->
					</div><!--/col-6-->
				</div><!--/row-->
			</div><!--/inline-->
		</div><!--/no-background-->
		
		<div class="inline">
			
				<div class="row">
					<div class="col-12">
						<h1>Tabs</h1>
						
						<div class="tabs" data-plugin="tabs">
							
							<div class="toolbar">
								<a href="#tab_1">Tab 1</a>
								<a href="#tab_2">Tab 2</a>
								<a href="#tab_3">Tab 3</a>
							</div><!--/toolbar-->
							
							<div class="tab" rel="tab_1">
								<h3>Pealkiri 1</h3>
								<p>
									Ipsum e cupidatat ne nulla, sed ab cohaerescant. Et quamquam ex litteris nam e 
									ipsum velit ut admodum, hic multos arbitror imitarentur, aute proident senserit. 
									Ab iis varias admodum. In sint consequat, anim graviterque ingeniis malis 
									incurreret. Ne possumus firmissimum do appellat fidelissimae nam officia, ab 
									noster incurreret, et qui anim sint enim, te aute mandaremus aliquip est fore 
									ingeniis concursionibus te admodum legam ita proident sempiternum qui dolore a 
									sed enim occaecat. Deserunt ab irure eiusmod.
								</p>
							</div><!--/tab-->
							
							<div class="tab" rel="tab_2">
								<h2>Heading 2 jumps over the lazy dog</h2>
								<p>
									Noster o commodo ne enim ut laboris hic doctrina, qui fore coniunctione id 
									quibusdam lorem <br /><a href="" class="before-trash">One man's trash is another man's treasure</a> fabulas, admodum ex minim offendit ita nostrud eu eram aut malis 
									eu doctrina ubi quorum, fore appellat eu irure magna. Te anim voluptate 
									domesticarum eu do nulla de elit, te aute mentitum incurreret, labore deserunt 
									quo occaecat. Ne elit summis summis excepteur. Est ingeniis sempiternum, 
									consequat ex tamen qui tamen mandaremus an laboris de dolor a laboris do quo 
									labore appellat est o <a href="" title="#long_title1">Tooltip example</a>, arbitror legam in vidisse adipisicing, 
									pariatur aut quem ullamco. Culpa ea o fugiat singulis, sint se appellat a malis 
									hic nulla deserunt quo comprehenderit, do appellat familiaritatem ubi qui a 
									reprehenderit, vidisse nisi enim appellat fore ex occaecat tamen dolore se 
									veniam ita o <a href="" class="before-location">Just a random link with icon</a> eram graviterque. Ex ex quis nescius te nulla deserunt se noster 
									illum, non<br /> <a href="" class="after-location">Just a random link with icon</a> labore noster minim fabulas, proident dolor se admodum domesticarum. 
									Sunt nostrud laborum ut cupidatat aute iudicem mentitum an noster possumus o 
									fidelissimae, fabulas velit ubi fabulas firmissimum.
								</p>
								<p>
									Minim illustriora incididunt quid occaecat. A elit tamen se vidisse hic a ab 
									<a href="" class="before-twitter">Follow us</a> dolor probant, ipsum hic senserit quo cillum est quae eu quibusdam quo dolore. 
									Quid mandaremus ingeniis, quo magna nisi quorum ingeniis do legam cernantur in 
									veniam anim ut <i>so italian much spaghetti</i> litteris velit ea quamquam reprehenderit ubi enim appellat qui 
									appellat, quae eiusmod reprehenderit, ex elit <u>under the rainbowz?</u> exercitation non aliqua pariatur 
									distinguantur. Quibusdam illum incididunt senserit, hic e lorem summis sint. 
									Duis in laborum a tamen. Nam ipsum <a href="" class="before-tags">Tag me?</a> veniam ad cernantur si ad ex culpa probant, e 
									veniam pariatur instituendarum, noster se incididunt quo ullamco ex minim, 
									commodo voluptatibus est expetendis, lorem o possumus ea cillum in do veniam 
									comprehenderit. Commodo summis cupidatat possumus o sed offendit o quamquam.
								</p>
							</div><!--/tab-->
							
							<div class="tab" rel="tab_3">
								<h3>Pealkiri 3</h3>

								<div class="notification" data-plugin="containerClose">
									<div class="inline">
										<div class="indicator"></div>
										<div class="message">
											Notification testimine tabi sees
										</div><!--/message-->
										<div class="close">
											<i class="before-close" rel="close"></i>
										</div><!--/close-->
									</div><!--/inline-->
								</div><!--/notification-->
								<table class="main">
									<thead>
										<tr>
											<th>Nimi</th>
											<th>Kuupäev</th>
											<th>Kellaeg</th>
											<th>Asukoht</th>
											<th>Pilet</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr class="disabled">
											<td><b>Meister ja Margarita</b></td>
											<td>L 30. nov 2016</td>
											<td>19:00</td>
											<td>Teater Vanemuine | Suur Saal</td>
											<td>alates 18€</td>
											<td>Välja müüdud</td>
										</tr>
										<tr>
											<td><b>Meister ja Margarita</b></td>
											<td>K 15. dets 2016</td>
											<td>19:00</td>
											<td>Teater Vanemuine | Suur Saal</td>
											<td>alates 18€</td>
											<td><a href="" class="link after-arrow_right">Mine ostma</a></td>
										</tr>
										<tr>
											<td><b>Meister ja Margarita</b></td>
											<td>K 15. dets 2016</td>
											<td>19:00</td>
											<td>Teater Vanemuine | Suur Saal</td>
											<td>alates 18€</td>
											<td><a href="" class="link after-arrow_right">Mine ostma</a></td>
										</tr>
									</tbody>
								</table>
							</div><!--/tab-->
							
						</div><!--/tabs-->
						
					</div><!--/col-12-->
				</div><!--/row-->
			
				<div class="row">
					<div class="col-12">
						<h1>Listid</h1>
					</div><!--/col-12-->
				</div><!--/row-->
			
				<div class="row">
					<div class="col-4">
						<h6>Listi ilus pealkiri</h6>
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						</ul>
					</div><!--/col-4-->
					
					<div class="col-4">
						<h6>Listi ilus pealkiri</h6>
						<ol>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						</ol>
					</div><!--/col-4-->
				</div><!--/row-->
			
			</div><!--/inline-->
		
		<div class="no-background">
			<div class="inline">
				<div class="row">
					<div class="col-12">
						<h1>Tabel</h1>

						<table class="main">
							<thead>
								<tr>
									<th>Nimi</th>
									<th>Kuupäev</th>
									<th>Kellaeg</th>
									<th>Asukoht</th>
									<th>Pilet</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr class="disabled">
									<td><b>Meister ja Margarita</b></td>
									<td>L 30. nov 2016</td>
									<td>19:00</td>
									<td>Teater Vanemuine | Suur Saal</td>
									<td>alates 18€</td>
									<td>Välja müüdud</td>
								</tr>
								<tr>
									<td><b>Meister ja Margarita</b></td>
									<td>K 15. dets 2016</td>
									<td>19:00</td>
									<td>Teater Vanemuine | Suur Saal</td>
									<td>alates 18€</td>
									<td><a href="" class="link after-arrow_right">Mine ostma</a></td>
								</tr>
								<tr>
									<td><b>Meister ja Margarita</b></td>
									<td>K 15. dets 2016</td>
									<td>19:00</td>
									<td>Teater Vanemuine | Suur Saal</td>
									<td>alates 18€</td>
									<td><a href="" class="link after-arrow_right">Mine ostma</a></td>
								</tr>
							</tbody>
						</table>
					</div><!--/col-12-->
				</div><!--/row-->
			</div><!--/inline-->
		</div><!--/no-background-->
		
		<div class="inline">
			<div class="row">
				<div class="col-12">
					<h1>Teavitused</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			
			
		</div><!--/inline-->
		
		<div class="notification" data-plugin="containerClose">
			<div class="inline">
				<div class="indicator"></div>
				<div class="message">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non suscipit arcu. Cras semper urna arcu, vel cursus magna interdum ut. Suspendisse suscipit orci ac erat consequat, ac placerat odio porta.
				</div><!--/message-->
				<div class="close">
					<i class="before-close" rel="close"></i>
				</div><!--/close-->
			</div><!--/inline-->
		</div><!--/notification-->
		
		<div class="notification information" data-plugin="containerClose">
			<div class="inline">
				<div class="indicator"></div>
				<div class="message">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non suscipit arcu. Cras semper urna arcu, vel cursus magna interdum ut. Suspendisse suscipit orci ac erat consequat, ac placerat odio porta.
				</div><!--/message-->
				<div class="close">
					<i class="before-close" rel="close"></i>
				</div><!--/close-->
			</div><!--/inline-->
		</div><!--/notification-->
		
		<div class="notification danger" data-plugin="containerClose">
			<div class="inline">
				<div class="indicator"></div>
				<div class="message">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non suscipit arcu. Cras semper urna arcu, vel cursus magna interdum ut. Suspendisse suscipit orci ac erat consequat, ac placerat odio porta.
				</div><!--/message-->
				<div class="close">
					<i class="before-close" rel="close"></i>
				</div><!--/close-->
			</div><!--/inline-->
		</div><!--/notification-->
		
		<div class="inline">
			<div class="row">
				<div class="col-12">
					<h1>Pagination</h1>
				</div><!--/col-12-->
			</div><!--/row-->
			<div class="row">
				<div class="col-12">
					<ul class="pagination">
						<li><a href="" class="btn btn-plain-secondary before-arrow_left circle"></a></li>
						<li><a href="" class="btn btn-plain-secondary circle active">1</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">2</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">3</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">4</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">5</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">6</a></li>
						<li class="dots">...</li>
						<li><a href="" class="btn btn-plain-secondary circle">10</a></li>
						<li><a href="" class="btn btn-plain-secondary before-arrow_right circle"></a></li>
					</ul>
				</div><!--/col-12-->
			</div><!--/row-->
		</div>
		
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
