include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
		
		include "modules/quickSearch.html"
		
		<div class="inline">
			<div class="row">
				<div class="col-12">
					<h3>Kultuuriaken soovitab</h3>
				</div><!--/col-12-->
			</div><!--/row-->
			<div class="row">
				<div class="col-12">
					include "modules/caroussel.html"
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row bottom-spacing">
				<div class="col-12">
					<div class="block">
						<h3>Sündmuste valdkonnad <a href="" class="link pull-right after-arrow_right">Vaata kõiki sündmusi</a></h3>
						<ul class="tags">
							<li class="tag-1"><a href="">teater</a></li>
							<li class="tag-2"><a href="">film</a></li>
							<li class="tag-3"><a href="">muusika</a></li>
							<li class="tag-4"><a href="">näitus/muuseum</a></li>
							<li class="tag-5"><a href="">mess/laat</a></li>
							<li class="tag-6"><a href="">pidu/klubi</a></li>
							<li class="tag-7"><a href="">sport</a></li>
							<li class="tag-8"><a href="">kirjandus</a></li>
							<li class="tag-9"><a href="">muu</a></li>
                     <li class="tag-11"><a href="">EV 100</a></li>
						</ul><!--/tags-->
                  <a href="" class="link sm-show">+ 8 veel</a>
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
			
			
			<div class="row">
				<div class="col-12">
					<h3>Algavad huvitegevused</h3>
				</div><!--/col-12-->
			</div><!--/row-->
			<div class="row">
				<div class="col-12">
					include "modules/caroussel.html"
				</div><!--/col-12-->
			</div><!--/row-->
			
			<div class="row bottom-spacing">
				<div class="col-12">
					<div class="block">
						<h3>Huvitegevuste valdkonnad <a href="" class="link pull-right after-arrow_right">Vaata kõiki huvitegevusi</a></h3>
						<ul class="tags">
							<li class="tag-1"><a href="">teater</a></li>
							<li class="tag-2"><a href="">film</a></li>
							<li class="tag-3"><a href="">muusika</a></li>
							<li class="tag-4"><a href="">näitus/muuseum</a></li>
							<li class="tag-5"><a href="">mess/laat</a></li>
							<li class="tag-6"><a href="">pidu/klubi</a></li>
							<li class="tag-7"><a href="">sport</a></li>
							<li class="tag-8"><a href="">kirjandus</a></li>
							<li class="tag-9"><a href="">muu</a></li>
						</ul><!--/tags-->
                  
                  <a href="" class="link sm-show">+ 8 veel</a>
                  
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
			
		</div><!--/inline-->
		
		include "modules/banner-double.html"
		
		include "modules/newslist.html"
		
		include "modules/what_is.html"
		
		include "modules/logos.html"
		
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
