include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h1>Uus huvitegevus</h1>
               <p>Uue huvitegevuse sisestamiseks täida alljärgnevad väljad või lae andmed exceli failist.  Sobiva ülesehitusega faili näidise saad <a href="">siit</a>.</p>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <div class="block rounded">
                  
                  
                  <div class="row">
                     <div class="col-12">
                        <h3>1. Huvitegevuse liik</h3>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-4">
                        <div class="form-item">
                           <div class="form-item_title">Vali valdkond*</div>
                           <select data-plugin="SumoSelect">
                              <option>Vali valdkond</option>
                              <option>Valdkond 1</option>
                              <option>Valdkond 2</option>
                              <option>Valdkond 3</option>
                           </select>
                        </div><!--/form-item-->
                     </div><!--/col-4-->
                     <div class="col-4">
                        <div class="form-item">
                           <div class="form-item_title">Vali kategooria*</div>
                           <select data-plugin="SumoSelect">
                              <option>Vali kategooria</option>
                              <option>Kategooria 1</option>
                              <option>Kategooria 2</option>
                              <option>Kategooria 3</option>
                           </select>
                        </div><!--/form-item-->
                     </div><!--/col-4-->
                  </div><!--/row-->
                  
                  <hr />
                  
                  <div class="row">
                     <div class="col-12">
                        <h3>2. Huvitegevuse tutvustus</h3>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <div class="block dashed">
                           <div class="row">
                              <div class="col-6">
                                 <h5 class="no-margin">Tutvustus eesti keeles <span class="circle-icon before-tick"></span></h5>
                                 <p>
                                    <b>Nimetus</b>: Meister ja Margarita<br />
                                    <b>Lühikirjeldus</b>:<br />
                                    Suspendisse potenti. Curabitur mollis urna justo, non porta nibh sagittis id. Ut finibus mattis pellentesque. Fusce et vulputate eros. Ut est purus, scelerisque a purus quis, tempor euismod diam.<br />
                                    
                                    <b>Lisainfo</b>: www.vanemuine.ee<br />
                                 </p>
                              </div><!--/col-6-->
                              
                              <div class="col-6">
                                 <p>
                                    <b>Põhitekst:</b>:<br />
                                    Suspendisse potenti. Curabitur mollis urna justo, non porta nibh sagittis id. Ut finibus mattis pellentesque. Fusce et vulputate eros. Ut est purus, scelerisque a purus quis, tempor euismod diam.
                                 </p>
                              </div><!--/col-6-->
                           </div><!--/row-->
                        </div><!--/block dashed-->
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <div class="block dashed">
                           <div class="row">
                              <div class="col-12">
                                 <h5 class="no-margin">Tutvustus eesti keeles <span class="circle-icon before-exclamation danger">Tekstid on sisestamata</span></h5>
                              </div><!--/col-12-->
                           </div><!--/row-->
                        </div><!--/block dashed-->
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  
                  <hr />
                  
                  <div class="row">
                     <div class="col-12">
                        <h3>3. Rühmade ja toimumise info <a href="" class="link secondary before-edit pull-right">Muuda</a></h3>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <div class="block dashed">
                           <div class="row">
                              <div class="col-5">
                                 <h5 class="no-margin">Rühm: Kullerkupud <span class="circle-icon before-tick"></span></h5>
                                 <p>
                                    <b>Sihtrühm</b>: lapsed 4-6 aastat<br />
                                    <b>Maksumus</b>: 20 €/kuus<br />
                                    <b>Toimumise periood</b>: 21.11 - 02.02.2016<br />
                                 
                                 </p>
                              </div><!--/col-5-->
                              
                              <div class="col-7">
                                 <div class="form-item text-right">
                                    <label>
                                       <span class="customCheckbox">
                                          <input name="name2f" type="checkbox" checked="checked">
                                          <span class="indicator"></span>
                                       </span><!--/customRadio-->
                                       <span class="label-title">Rühm on täitunud</span>
                                    </label>
                                 </div><!--/form-item-->
                                 <p>
                                    <b>Toimumise aeg ja koht:</b><br />
                                    <b>Teisipäeviti</b> 19:00 - 20:00 | Teater Vanemuine | Vanemuise 6, Tartu<br />
                                    <b>Neljapäeviti</b> 19:00 - 20:00 | Teater Kannel | Kandle 6, Tartu
                                 </p>
                              </div><!--/col-7-->
                           </div><!--/row-->
                        </div><!--/block dashed-->
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <div class="block dashed">
                           <div class="row">
                              <div class="col-5">
                                 <h5 class="no-margin">Rühm: Nurmenukud <span class="circle-icon before-tick danger">Pooleli</span></h5>
                                 <p>
                                    <b>Sihtrühm</b>: lapsed 4-6 aastat<br />
                                    <b>Maksumus</b>: 20 €/kuus<br />
                                    <b>Toimumise periood</b>: 21.11 - 02.02.2016<br />
                                 
                                 </p>
                              </div><!--/col-5-->
                              
                              <div class="col-7">
                                 <div class="form-item text-right">
                                    <label>
                                       <span class="customCheckbox">
                                          <input name="name2" type="checkbox">
                                          <span class="indicator"></span>
                                       </span><!--/customRadio-->
                                       <span class="label-title">Rühm on täitunud</span>
                                    </label>
                                 </div><!--/form-item-->
                                 <p>
                                    <b>Toimumise aeg ja koht:</b><br />
                                    <b>Teisipäeviti</b> 19:00 - 20:00 | Teater Vanemuine | Vanemuise 6, Tartu<br />
                                    <b>Neljapäeviti</b> 19:00 - 20:00 | Teater Kannel | Kandle 6, Tartu
                                 </p>
                              </div><!--/col-7-->
                           </div><!--/row-->
                        </div><!--/block dashed-->
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <center>
                           <a href="" class="link after-arrow_down size-l">Vaata veel rühmi (4)</a>
                        </center>      
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  
                  <hr />
                  
                  <div class="row">
                     <div class="col-12">
                        <h3>4. Pildid ja videod <span class="circle-icon before-tick"></span> <a href="" class="link secondary before-edit pull-right">Muuda</a></h3>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-6">
                        <h5>Pildid</h5>
                        
                        <div class="row pull-up">
                           <div class="col-3">
                              <a href="" class="image" style="background-image:url(assets/tmp/list-1.jpg)"><img src="assets/imgs/placeholder-1.gif" /></a>
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="image" style="background-image:url(assets/tmp/list-1.jpg)"><img src="assets/imgs/placeholder-1.gif" /></a>
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="image" style="background-image:url(assets/tmp/list-1.jpg)"><img src="assets/imgs/placeholder-1.gif" /></a>
                           </div><!--/col-3-->
                        </div><!--/row-->
                     </div><!--/col-6-->
                     
                     <div class="col-6">
                        <h5>Videod</h5>
                        
                        <div class="row pull-up">
                           <div class="col-3">
                              <a href="" class="image before-play" style="background-image:url(assets/tmp/list-1.jpg)">
                                 <img src="assets/imgs/placeholder-1.gif" />
                              </a>
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="image before-play" style="background-image:url(assets/tmp/list-1.jpg)">
                                 <img src="assets/imgs/placeholder-1.gif" />
                              </a>
                           </div><!--/col-3-->
                        </div><!--/row-->
                     </div><!--/col-6-->
                  </div><!--/row-->
                  
                  <hr />
                  
                  
                  <div class="row">
                     <div class="col-12">
                        <h3>5. Korraldaja andmed <span class="circle-icon before-exclamation danger">Pooleli</span></h3>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-6">
                        <p class="lineHeight-2x">
                           <b>Asutus</b>: Teater Vanemuine<br />
                           <b>Aadress</b>: Vanemuise 6, Tartu<br />
                           <b>Koduleht</b>: <a href="">www.vanemuine.ee</a><br />
                           <b>Registreerimine</b>:<br />
                           <a href="">www.teater.ee/pahklipureja/registreeri</a><br />
                           admin@vanemuine.ee<br />
                           565757666
                        </p>
                     </div><!--/col-6-->
                     <div class="col-6">
                        <p class="lineHeight-2x">
                           <b>Kontaktisik</b>: Sille Elisabet Siilipoisikene<br />
                           <b>Telefon</b>: 53 123 456<br />
                           <b>E-post</b>: info@vanemuine.ee<br />
                        </p>
                     </div><!--/col-6-->
                  </div><!--/row-->
                  
                  <hr />
                  
                  <div class="row">
                     <div class="col-12">
                        <a href="" class="link secondary after-modul big-icon">Eelvaade</a>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <a href="" class="btn">Avalikusta kohe</a>
                        <a href="" class="btn btn-empty after-arrow_down">Avalikusta hiljem</a>
                        <a href="" class="btn btn-inactive">Salvesta mustandina</a>
                        <a href="" class="link secondary after-trash pull-right btn-height">Kustuta huvitegevus</a>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
               </div><!--/block-->
            </div><!--/col-12-->
         </div><!--/row-->
         
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
