include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         <div class="row">
            <div class="col-12">
               <h1>Huvitegevused</h1>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row" data-plugin="listFilter">
            <div class="col-3 sm-12 md-12">
               
               <div class="filter-tags block sm-show" data-plugin="stickyTags">
                  <span class="toggler after-arrow_up"></span>
                  <div class="link secondary after-close">Tühista kõik filtrid</div>
                  <ul class="tags" rel="tags"> </ul>
               </div><!--filter-tags-->
               
               <div class="block no-padding">
                  include "modules/filter.html"
               </div><!--/block-->
            </div><!--/col-3-->
            <div class="col-9 sm-12 md-12">
               
               include "modules/filter-search-secondary.html"
               
               <div class="filter-output list-view" data-url="api/list.json">
                  
                  include "modules/huvitegevused-list.html"
                  
               </div><!--/filter-output-->
               
            </div><!--/col-9-->
         </div><!--/row-->
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
