include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-6">
               <h1>Minu kalender</h1>
            </div><!--/col-6-->
            <div class="col-6 text-right">
               <a href="" class="link after-calendar">Lisa kalenderisse</a>
               <a href="" class="btn btn-inactive after-calendar">Prindi kalender</a>
            </div><!--/col-6-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               
               <!-- Calendar template inside -->
               <div class="calendar" data-plugin="calendar" data-json="api/calendar.json" data-template='api/calendar-template.html' data-eventRemove="kalender.html?id={id}" data-removeLabel="Eemalda">
                  
                  
               </div><!--/calendar-->
               
            </div><!--/col-12-->
         </div><!--/row-->
         
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
