include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row no-margin sm-overflow">
            
            <div class="col-6 stretch-content sm-hide">
               <div class="image" style="background-image:url(assets/tmp/syndmus-1.jpg)">
                  <img src="assets/imgs/placeholder-56.gif" /> 
                  <ul class="tags filled">
                     <li class="tag-1"><a href="">teater</a></li>
                  </ul>
               </div><!--/image-->
               
            </div><!--/col-6-->
            
            <div class="sm-12 stretch-content sm-show">
               <div class="swiper-container" data-plugin="slideshow">
                  <ul class="tags filled">
                     <li class="tag-1"><a href="">teater</a></li>
                  </ul>
                  <div class="swiper-holder">
                     <div class="swiper-wrapper">
                        <div class="swiper-slide">
                           <div class="image" style="background-image:url(assets/tmp/syndmus-1.jpg)">
                              <img src="assets/imgs/placeholder-56.gif" /> 
                           </div><!--/image-->
                        </div><!--/swiper-slide-->
                        <div class="swiper-slide">
                           <div class="image" style="background-image:url(assets/tmp/banner-1.jpg)">
                              <img src="assets/imgs/placeholder-56.gif" /> 
                           </div><!--/image-->
                        </div><!--/swiper-slide-->
                        <div class="swiper-slide">
                           <div class="image" style="background-image:url(assets/tmp/banner-2.jpg)">
                              <img src="assets/imgs/placeholder-56.gif" /> 
                           </div><!--/image-->
                        </div><!--/swiper-slide-->
                        
                     </div><!--/swiper-wrapper-->
                  </div><!--/swiper-holder-->
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-next"></div>
					   <div class="swiper-button-prev"></div>
               </div><!--/swiper-container-->
               
            </div><!--/col-12-->
            
            <div class="col-6 stretch-content sm-12">
               <div class="block-gray">
                  <h1>Zarah Leander. Ãœhe legendi meloodiad ja mÃ¤lestused</h1>
                  <p class="highlight-1 size-xl sm-hide">Karlova Teater</p>
                  <p class="size-xl sm-show">Karlova Teater <a href="#map" class="before-location link pull-right">vaata kaardil</a></p>
                  <p class="size-xl"><b class="highlight-1">P</b> 15. jan 2017 | 19:00 <a href="">+ 4 veel</a></p>
                  
                  <a href="" class="link after-calendar">Lisa kalenderisse</a>
                  
                  <a href="" class="btn pull-right sm-hide">Mine ostma (8-15â‚¬)</a>
                  <a href="" class="btn sm-show full-width">Mine ostma (8-15â‚¬)</a>
               </div><!--/block-gray-->
               
            </div><!--/col-6-->
         </div><!--/row-->
         
         <div class="row sm-overflow">
            <div class="col-12">
               <div class="block">
                  <div class="row">
                     <div class="col-7 sm-12">
                        
                        <article>
                           <h5 class="sm-hide">Galerii</h5>
                           
                           <div class="row sm-hide" data-plugin="gallery">
                              <div class="col-2">
                                 <a href="assets/tmp/list-1.jpg" class="image" style="background-image:url(assets/tmp/list-1.jpg)"><img src="assets/imgs/placeholder-1.gif"></a>
                              </div><!--/col-2-->
                              <div class="col-2">
                                 <a href="assets/tmp/list-2.jpg" class="image" style="background-image:url(assets/tmp/list-2.jpg)"><img src="assets/imgs/placeholder-1.gif"></a>
                              </div><!--/col-2-->
                              <div class="col-2">
                                 <a href="https://www.youtube.com/watch?v=LgqBpJE-53E" class="image before-play" style="background-image:url(assets/tmp/list-3.jpg)"><img src="assets/imgs/placeholder-1.gif"></a>
                              </div><!--/col-2-->
                           </div><!--/row-->
                           
                           <h5 class="sm-hide">Tutvustus</h5>
                           
                           <div class="text-wrapper" data-class="'full-text' : moreText">
                              <p><b>Macaroon jelly marshmallow croissant chupa chups dragÃ©e. Toffee sugar plum cupcake cake apple pie. Sesame snaps jujubes pudding </b></p>
                              <p>Jujubes biscuit sweet roll carrot cake sweet roll soufflÃ© bear claw cheesecake. Toffee fruitcake sweet roll lollipop bear claw soufflÃ© halvah. Chupa chups bear claw powder chocolate bar pudding dragÃ©e liquorice. Ice cream sugar plum pastry pudding bear claw cheesecake ice cream bonbon bear claw. Muffin apple pie candy jelly beans cake chupa chups wafer sugar plum jujubes. Gummi bears croissant jelly beans. Oat cake soufflÃ© brownie marshmallow pudding candy canes liquorice. Bonbon powder ice cream pie carrot cake danish tart marzipan.</p>
                              <p>Dessert jelly beans halvah. Pudding gingerbread sweet roll candy liquorice. Tart halvah tiramisu ice cream marshmallow gummi bears. Candy pudding dessert cake tiramisu soufflÃ©. Sweet danish chocolate bar icing candy. Jelly-o danish candy cake chupa chups tiramisu jelly liquorice gingerbread. Dessert ice cream bear claw toffee sweet roll. Sugar plum chocolate bar gummies. Gummies cake biscuit gingerbread chocolate bar jelly-o donut carrot cake candy.</p>
                              <p>Vaata lÃ¤hemalt: <a href="">www.link.ee/meisterjamargarita</a></p>
                           </div><!--/text-wrapper-->
                           <div class="link after-arrow_down sm-show" data-toggle="moreText" data-class="'hidden' : moreText" >Loe veel</div>
                           
                        </article>
                     </div><!--/col-7-->
                     <div class="col-5 sm-12">
                        
                        <div class="sm-show">
                           <h5 class="half-margin">Jaga seda üritust</h5>
                           <a href="" class="btn circle before-facebook"></a>
                           <a href="" class="btn circle before-twitter"></a>
                           <a href="" class="btn circle before-googleplus"></a>
                           <a href="" class="btn circle before-mail"></a>
                        </div><!--/sm-show-->
                        
                        <h5 class="half-margin">Asukoht kaardil</h5>
                        
                        <div class="map" data-plugin="googleMaps" data-lat="58.3801454" data-lng="26.7188422" data-icon="assets/imgs/location-default.png">
                           <img src="assets/imgs/placeholder-56.gif" class="placeholder">
                        </div><!--/image-->
                        
                        <h5 class="half-margin">Korraldaja</h5>
                        
                        <p>
                           <b>Asutus</b>: JJ-Street Tartu tantsukool<br />
                           <b>Aadress</b>: Ãœlikooli 12<br />
                           <b>Kontaktisik</b>: Mari<br />
                           <b>Tel</b>: +372 5740 5454<br />
                           <b>E-post</b>: mari@jjstreet.ee<br />
                           <a href="">www.jjstreet.ee</a>
                        
                        </p>
                     </div><!--/col-5-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <h5>Teised kuupÃ¤evad</h5>

                        <table class="main">
                           <thead>
                              <tr>
                                 <th>Nimi</th>
                                 <th>KuupÃ¤ev</th>
                                 <th>Kellaeg</th>
                                 <th>Asukoht</th>
                                 <th>Pilet</th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="disabled">
                                 <td><b>Meister ja Margarita</b></td>
                                 <td>L 30. nov 2016</td>
                                 <td>19:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 18â‚¬</td>
                                 <td>VÃ¤lja mÃ¼Ã¼dud</td>
                              </tr>
                              <tr>
                                 <td><b>Meister ja Margarita</b></td>
                                 <td>K 15. dets 2016</td>
                                 <td>19:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 18â‚¬</td>
                                 <td><a href="" class="link after-arrow_right">Mine ostma</a></td>
                              </tr>
                              <tr>
                                 <td><b>Meister ja Margarita</b></td>
                                 <td>K 15. dets 2016</td>
                                 <td>19:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 18â‚¬</td>
                                 <td><a href="" class="link after-arrow_right">Mine ostma</a></td>
                              </tr>
                              <tr>
                                 <td><b>Meister ja Margarita</b></td>
                                 <td>K 15. dets 2016</td>
                                 <td>19:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 18â‚¬</td>
                                 <td><a href="" class="link after-arrow_right">Mine ostma</a></td>
                              </tr>
                           </tbody>
                        </table>
                        <center>
                           <a href="" class="btn btn-inactive sm-stretch">Laadi veel</a>
                        </center>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  

               </div><!--/block-->
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <div class="row ">
                  <div class="col-12">
                     <h5>Sarnased huvitegevused</h5>
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row ">
                  <div class="col-12">
                     include "modules/caroussel.html"
                  </div><!--/col-12-->
               </div><!--/row-->
            </div><!--/col-12-->
         </div><!--/row-->
      </div><!--/inline-->
		
      
	</section><!--/content-->
   
   include "modules/event_preview.html"
   
	include "modules/footer.html"
</div><!--/wrapper-->
