.calendar{
   
   .calendar-toolbar{text-align: center; line-height:2.5rem; padding-bottom:2.5rem;
      .calendar-toolbar_date{font-weight: 900; font-size:1.88rem; display: inline-block; vertical-align: middle; min-width:300px; text-align: center;}
      .before-arrow_left, .before-arrow_right{font-size:2.5rem; display: inline-block; vertical-align: middle; cursor: pointer; transition:color 0.25s;
         &:hover{color:@highlight-1;}
      }
   }
   .calendar-dayNames{-js-display: flex; display: flex;
      div{width:100%/7; background:@base-8; color:@text-4; font-size:1.13rem; font-weight: bold; text-align: center; padding:1.19rem 0;
         &:first-child{.border-radius(1rem 0 0 0); }
         &:last-child{.border-radius(0 1rem 0 0); }
      }
   }
   .calendar-days{ border:@border-1 1px solid; background:@base-3; .border-radius(0 0 1rem 1rem); 
      
      .calendar-row{-js-display: flex; display: flex;
         .calendar-day{width:100%/7; border:@border-1 1px solid; min-height:180px; padding:@grid-padding; transition:color 0.25s; position: relative;
            *{ transition:color 0.25s;}
            .calendar-day_number{font-size:1.63rem; font-weight: 900; text-align: right; line-height:100%;}
            &.has-click{cursor: pointer;
               &:hover{
                  .calendar-day_number, .calendar-entry{color:@highlight-1;
                     *{color:@highlight-1;}
                  }
               }
            }
            &.calendar-day_today{
               .calendar-day_number{color:@highlight-1;}
            }
            &:last-child{
               .calendar-overlay{left:auto; right:-2px; margin-left:0;}
            }
            &:first-child{
               .calendar-overlay{left:-2px; margin-left:0;}
            }
         }
         &:last-child{
            .calendar-day{
               &:first-child{.border-radius(0 0 0 0.9rem); }
               &:last-child{.border-radius(0 0 0.9rem 0); }
            }
         }
         
         .link{margin-top:0.75rem;}
      }
   }
   
   .calendar-entry{font-size:0.94rem; margin-top:0.75rem;
      .calendar-entry_time{color:@text-4;}
      .calendar-entry_title{display: block; color:@text-1; text-decoration: none;
         &:hover{color:@highlight-1;}
      }
   }
   
   .calendar-overlay{position: absolute; top:-1rem; left:0; width:29.25rem; background:@base-5; z-index: 2; left:50%; margin-left:-14.625rem; border:@border-1 2px solid; .border-radius(0.5rem); cursor: auto;  padding:1.13rem 1.13rem 1.19rem 1.25rem;
      [rel='close']{position: absolute; right:1.13rem; top:1.25rem; font-size:1.56rem; line-height:100%; transition:color 0.25s; cursor: pointer;
         &:hover{color:@highlight-1;}
      }
      h3{margin:0; font-size:1.38rem; text-transform: lowercase; margin:0 0 0.63rem 0;}
      .calendar-overlay_entry{display: flex; margin-bottom:1.25rem;
         &:last-child{margin-bottom:0;}
         .description{ margin-right: auto;}
         .link{white-space: nowrap; margin-top:23px; cursor: pointer; display: block;}
         .time{font-size:0.94rem; color:@text-4; display: block; margin:0 0 0.31rem 0;}
         .title{display: block;  margin:0 0 0.31rem 0;}
         .location{color:@highlight-1;display: block;}
      }
   }
}