@version: 0.63;

@font-face {
	font-family: 'fontello';
	src: url('../fontello/fontello.eot?@{version}');
	src: url('../fontello/fontello.eot?@{version}') format('embedded-opentype'),
		url('../fontello/fontello.woff2?@{version}') format('woff2'),
		url('../fontello/fontello.woff?@{version}') format('woff'),
		url('../fontello/fontello.ttf?@{version}') format('truetype'),
		url('../fontello/fontello.svg?@{version}') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fontello-addon{font-family:"fontello";}
i[class*='before-'], i[class*='after-']{font-style:normal;}

.before-arrow_down{ &:before{ .fontello-addon; content: '\e800'; } }
.before-arrow_left{ &:before{ .fontello-addon; content: '\e801'; } }
.before-arrow_right{ &:before{ .fontello-addon; content: '\e802'; } }
.before-arrow_up{ &:before{ .fontello-addon; content: '\e803'; } }
.before-calendar{ &:before{ .fontello-addon; content: '\e804'; } }
.before-arrow{ &:before{ .fontello-addon; content: '\e805'; } }
.before-close{ &:before{ .fontello-addon; content: '\e806'; } }
.before-edit{ &:before{ .fontello-addon; content: '\e807'; } }
.before-exclamation{ &:before{ .fontello-addon; content: '\e808'; } }
.before-facebook{ &:before{ .fontello-addon; content: '\e809'; } }
.before-filter{ &:before{ .fontello-addon; content: '\e80a'; } }
.before-googleplus{ &:before{ .fontello-addon; content: '\e80b'; } }
.before-grid{ &:before{ .fontello-addon; content: '\e80c'; } }
.before-information{ &:before{ .fontello-addon; content: '\e80d'; } }
.before-list{ &:before{ .fontello-addon; content: '\e80e'; } }
.before-location{ &:before{ .fontello-addon; content: '\e80f'; } }
.before-location_map{ &:before{ .fontello-addon; content: '\e830'; } }
.before-logout{ &:before{ .fontello-addon; content: '\e810'; } }
.before-mail{ &:before{ .fontello-addon; content: '\e811'; } }
.before-menu{ &:before{ .fontello-addon; content: '\e812'; } }
.before-modul{ &:before{ .fontello-addon; content: '\e813'; } }
.before-money{ &:before{ .fontello-addon; content: '\e814'; } }
.before-plus{ &:before{ .fontello-addon; content: '\e815'; } }
.before-questionmark{ &:before{ .fontello-addon; content: '\e816'; } }
.before-search{ &:before{ .fontello-addon; content: '\e817'; } }
.before-settings{ &:before{ .fontello-addon; content: '\e818'; } }
.before-tags{ &:before{ .fontello-addon; content: '\e819'; } }
.before-tick{ &:before{ .fontello-addon; content: '\e81a'; } }
.before-trash{ &:before{ .fontello-addon; content: '\e81b'; } }
.before-twitter{ &:before{ .fontello-addon; content: '\e81c'; } }
.before-user{ &:before{ .fontello-addon; content: '\e81d'; } }
.before-users{ &:before{ .fontello-addon; content: '\e81e'; } }
.before-minus{ &:before{ .fontello-addon; content: '\e81f'; } }
.before-play{ &:before{ .fontello-addon; content: '\e820'; } }
.before-top{ &:before{ .fontello-addon; content: '\e831'; } }

.before-event_art{ &:before{ .fontello-addon; content: '\e821'; } }
.before-event_camp{ &:before{ .fontello-addon; content: '\e822'; } }
.before-event_courses{ &:before{ .fontello-addon; content: '\e823'; } }
.before-event_dance{ &:before{ .fontello-addon; content: '\e824'; } }
.before-event_festival{ &:before{ .fontello-addon; content: '\e825'; } }
.before-event_literature{ &:before{ .fontello-addon; content: '\e826'; } }
.before-event_film{ &:before{ .fontello-addon; content: '\e827'; } }
.before-event_music{ &:before{ .fontello-addon; content: '\e828'; } }
.before-event_museum{ &:before{ .fontello-addon; content: '\e829'; } }
.before-event_nature{ &:before{ .fontello-addon; content: '\e82a'; } }
.before-event_other{ &:before{ .fontello-addon; content: '\e82b'; } }
.before-event_party{ &:before{ .fontello-addon; content: '\e82c'; } }
.before-event_sport{ &:before{ .fontello-addon; content: '\e82d'; } }
.before-event_photography{ &:before{ .fontello-addon; content: '\e82e'; } }
.before-event_theater{ &:before{ .fontello-addon; content: '\e82f'; } }
.before-event_ev100{ &:before{ .fontello-addon; content: '\e832'; } }

.after-arrow_down{ &:after{ .fontello-addon; content: '\e800'; } }
.after-arrow_left{ &:after{ .fontello-addon; content: '\e801'; } }
.after-arrow_right{ &:after{ .fontello-addon; content: '\e802'; } }
.after-arrow_up{ &:after{ .fontello-addon; content: '\e803'; } }
.after-calendar{ &:after{ .fontello-addon; content: '\e804'; } }
.after-arrow{ &:after{ .fontello-addon; content: '\e805'; } }
.after-close{ &:after{ .fontello-addon; content: '\e806'; } }
.after-edit{ &:after{ .fontello-addon; content: '\e807'; } }
.after-exclamation{ &:after{ .fontello-addon; content: '\e808'; } }
.after-facebook{ &:after{ .fontello-addon; content: '\e809'; } }
.after-filter{ &:after{ .fontello-addon; content: '\e80a'; } }
.after-googleplus{ &:after{ .fontello-addon; content: '\e80b'; } }
.after-grid{ &:after{ .fontello-addon; content: '\e80c'; } }
.after-information{ &:after{ .fontello-addon; content: '\e80d'; } }
.after-list{ &:after{ .fontello-addon; content: '\e80e'; } }
.after-location{ &:after{ .fontello-addon; content: '\e80f'; } }
.after-location_map{ &:after{ .fontello-addon; content: '\e830'; } }
.after-logout{ &:after{ .fontello-addon; content: '\e810'; } }
.after-mail{ &:after{ .fontello-addon; content: '\e811'; } }
.after-menu{ &:after{ .fontello-addon; content: '\e812'; } }
.after-modul{ &:after{ .fontello-addon; content: '\e813'; } }
.after-money{ &:after{ .fontello-addon; content: '\e814'; } }
.after-plus{ &:after{ .fontello-addon; content: '\e815'; } }
.after-questionmark{ &:after{ .fontello-addon; content: '\e816'; } }
.after-search{ &:after{ .fontello-addon; content: '\e817'; } }
.after-settings{ &:after{ .fontello-addon; content: '\e818'; } }
.after-tags{ &:after{ .fontello-addon; content: '\e819'; } }
.after-tick{ &:after{ .fontello-addon; content: '\e81a'; } }
.after-trash{ &:after{ .fontello-addon; content: '\e81b'; } }
.after-twitter{ &:after{ .fontello-addon; content: '\e81c'; } }
.after-user{ &:after{ .fontello-addon; content: '\e81d'; } }
.after-users{ &:after{ .fontello-addon; content: '\e81e'; } }
.after-minus{ &:after{ .fontello-addon; content: '\e81f'; } }
.after-play{ &:before{ .fontello-addon; content: '\e820'; } }
.after-top{ &:after{ .fontello-addon; content: '\e831'; } }

.after-event_art{ &:before{ .fontello-addon; content: '\e821'; } }
.after-event_camp{ &:before{ .fontello-addon; content: '\e822'; } }
.after-event_courses{ &:before{ .fontello-addon; content: '\e823'; } }
.after-event_dance{ &:before{ .fontello-addon; content: '\e824'; } }
.after-event_festival{ &:before{ .fontello-addon; content: '\e825'; } }
.after-event_literature{ &:before{ .fontello-addon; content: '\e826'; } }
.after-event_film{ &:before{ .fontello-addon; content: '\e827'; } }
.after-event_music{ &:before{ .fontello-addon; content: '\e828'; } }
.after-event_museum{ &:before{ .fontello-addon; content: '\e829'; } }
.after-event_nature{ &:before{ .fontello-addon; content: '\e82a'; } }
.after-event_other{ &:before{ .fontello-addon; content: '\e82b'; } }
.after-event_party{ &:before{ .fontello-addon; content: '\e82c'; } }
.after-event_sport{ &:before{ .fontello-addon; content: '\e82d'; } }
.after-event_photography{ &:before{ .fontello-addon; content: '\e82e'; } }
.after-event_theater{ &:before{ .fontello-addon; content: '\e82f'; } }
.after-event_ev100{ &:before{ .fontello-addon; content: '\e832'; } }