//main: build.less

a img{border:none;}
*:focus{outline:0;}
textarea{max-width:100%; max-height:40rem; min-width:47.5%;}
html{overflow:-moz-scrollbars-vertical; font-size:16px;}
a{-moz-outline-style:none;}
img { -ms-interpolation-mode: bicubic; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block; margin:0; padding:0;}
*{box-sizing: border-box; }
body{margin:0; background:@background; font-family:montserrat, Roboto; color:@text-3;}
//body.rus{font-family:@font-2;}

input,textarea{ font-family:montserrat, Roboto;}
html, body{height:100%;}


[data-show]{display: none;}

.wrapper{ display: flex; flex-direction: column; flex:1; min-height:100%;}

.title-content{display: none;}

section.content{flex-grow:1; padding:@grid-padding 0; overflow: hidden;
	&+section.content{margin-top:-(@grid-padding*2);}
   &.align-center{align-content: center; align-items: center; display: flex;
      .inline{width:100%;}
   }
}

#frame{position: fixed; top:0; left:0; width:100%; height:100%; background:url(../imgs/frame.png) center top no-repeat; background-size:cover; z-index: 999; pointer-events: none;
   &+*{margin-top:80px;}
}

input,button,textarea,select{appearance:none;}

.content > .inline{position: relative;}