@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31628094');
  src: url('../font/fontello.eot?31628094#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?31628094') format('woff2'),
       url('../font/fontello.woff?31628094') format('woff'),
       url('../font/fontello.ttf?31628094') format('truetype'),
       url('../font/fontello.svg?31628094#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31628094#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow_down:before { content: '\e800'; } /* '' */
.icon-arrow_left:before { content: '\e801'; } /* '' */
.icon-arrow_right:before { content: '\e802'; } /* '' */
.icon-arrow_up:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-arrow:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-exclamation:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-filter:before { content: '\e80a'; } /* '' */
.icon-googleplus:before { content: '\e80b'; } /* '' */
.icon-grid:before { content: '\e80c'; } /* '' */
.icon-information:before { content: '\e80d'; } /* '' */
.icon-list:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-logout:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */
.icon-modul:before { content: '\e813'; } /* '' */
.icon-money:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-questionmark:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-settings:before { content: '\e818'; } /* '' */
.icon-tags:before { content: '\e819'; } /* '' */
.icon-tick:before { content: '\e81a'; } /* '' */
.icon-trash:before { content: '\e81b'; } /* '' */
.icon-twitter:before { content: '\e81c'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-users:before { content: '\e81e'; } /* '' */
.icon-minus:before { content: '\e81f'; } /* '' */
.icon-play:before { content: '\e820'; } /* '' */
.icon-event_art:before { content: '\e821'; } /* '' */
.icon-event_camp:before { content: '\e822'; } /* '' */
.icon-event_courses:before { content: '\e823'; } /* '' */
.icon-event_dance:before { content: '\e824'; } /* '' */
.icon-event_festival:before { content: '\e825'; } /* '' */
.icon-event_literature:before { content: '\e826'; } /* '' */
.icon-event_film:before { content: '\e827'; } /* '' */
.icon-event_music:before { content: '\e828'; } /* '' */
.icon-event_museum:before { content: '\e829'; } /* '' */
.icon-event_nature:before { content: '\e82a'; } /* '' */
.icon-event_other:before { content: '\e82b'; } /* '' */
.icon-event_party:before { content: '\e82c'; } /* '' */
.icon-event_sport:before { content: '\e82d'; } /* '' */
.icon-event_photography:before { content: '\e82e'; } /* '' */
.icon-event_theater:before { content: '\e82f'; } /* '' */
.icon-location-map:before { content: '\e830'; } /* '' */
.icon-top:before { content: '\e831'; } /* '' */
.icon-ev100:before { content: '\e832'; } /* '' */