<div class="double-banners">
	
	<div class="entry" style="background-image:url(assets/tmp/banner-1.jpg);">
		<div class="details">
			<h3>Eesti Rahva Muuseum</h3>
			<p>Alates 1. oktoobrist on Raadil avatud värskelt valminud uus Eesti Rahva Muuseum.
			Lisaks püsinäitustele, muuseumipoele ja restoranile, toimuvad seal pidevalt erinevaid üritusted.</p>

			<p>Alates 1. oktoobrist on Raadil avatud värskelt valminud uus Eesti Rahva Muuseum.
				Lisaks püsinäitustele, muuseumipoele ja restoranile, toimuvad seal pidevalt erinevaid üritusted.</p>
			<a href="" class="btn btn-inverted">Loe lähemalt</a>
		</div><!--/details-->
	</div><!--/entry-->
	
	<div class="entry" style="background-image:url(assets/tmp/banner-2.jpg);">
		<div class="details">
			<h3>Tartu Loodusmaja</h3>
			<p>Alates 1. oktoobrist on Raadil avatud värskelt valminud uus Eesti Rahva Muuseum.
Lisaks püsinäitustele, muuseumipoele ja restoranile, toimuvad seal pidevalt erinevaid üritusted.</p>
			<a href="" class="btn btn-inverted">Loe lähemalt</a>
		</div><!--/details-->
	</div><!--/entry-->
	
</div><!--/double-banners-->