<div class="event_preview">
   <div class="event_preview-wrapper">
      <div class="inline">
         <div class="row">
            
            <div class="col-10">
               <h1>Sündmus Pähklipureja on sisestatud!</h1>
               <p><b>Avaldamise aeg</b>: 21:11.2106 kell 21:00</p>
               <p><a href="" class="link secondary half-margin">Tagasi sündmuse juurde</a><a href="" class="btn half-margin">Avalikusta kohe</a></p>
            </div><!--/col-8-->
            
            <div class="col-2 text-right">
               <p>
                  Vaata sisestatud keeltes: <br />
                  <a href="" class="link dark active">EST</a><a href="" class="link dark">ENG</a><a href="" class="link dark">RUS</a>
               </p>
            </div><!--/col-4-->
         </div><!--/row-->
      </div><!--/inline-->
   </div><!--/event_preview-wrapper-->
   
</div><!--/event_preview-->