<div class="cookie-notification" data-plugin="cookiesNotification">
   <div class="inline">
      <div class="row">
         <div class="col-10">
            <p>Sellel veebilehel kasutatakse küpsiseid. Veebilehe kasutamist jätkates nõustute küpsiste kasutamisega. </p>
            <a href="javascript:void(0);" class="btn" rel="accept">Nõustun</a>
         </div><!--/col-8-->
         <div class="col-2">
            <a href="javascript:void(0);" class="after-close pull-right" rel="close">Sulge</a>
         </div><!--/col-4-->
      </div><!--/row-->      
   </div><!--/inline-->
</div><!--/cookie_notification-->

<div class="oldBrowser-popup">
   <div class="inline">
      <h1>Your browser is out-of-date. Please download one of these up-to-date, free and excellent browsers:</h1>
      <a href="http://www.mozilla.com/firefox/" class="entry">
         <img src="assets/imgs/256-firefox.png" />
         <div class="text">
            <b>Firefox</b>
            Mozilla Foundation
         </div><!--/text-->
      </a><!--/entry-->

      <a href="http://www.opera.com" class="entry">
         <img src="assets/imgs/256-opera.png" />
         <div class="text">
            <b>Opera</b>
            Opera Software
         </div><!--/text-->
      </a><!--/entry-->
      <a href="https://www.google.com/chrome/browser/desktop/" class="entry">
         <img src="assets/imgs/256-chrome.png" />
         <div class="text">
            <b>Chrome</b>
            Google
         </div><!--/text-->
      </a><!--/entry-->
   </div><!--/inline-->
</div><!--/oldBrowser-popup-->

<footer class="main">
	<div class="inline">
		<div class="row">
			<div class="col-4 sm-12">
				<p><b>Kultuuriaken</b></p>
				<p>Tartu Linnavalitsuse kultuuriosakond<br/>Raekoja plats 12, 51004 Tartu</p>
			</div><!--/col-4-->
			<div class="col-4 sm-12">
				<center>
					<p><b>Võta ühendust</b></p>
					<p><a href="mailto:admin@kultuuriaken.tartu.ee" class="link">admin@kultuuriaken.tartu.ee</a></p>
				</center>
			</div><!--/col-4-->
			<div class="col-4 sm-12">
				<center>
					<p><b>Teavitus</b></p>
					<p><a href="" class="btn">Telli uudiskiri</a></p>
				</center>
			</div><!--/col-4-->
		</div><!--/row-->
        <div class="row">
            <div class="col-12">
                <center>
                    <a href="https://twn.ee" class="madeby" target="_blank">Made by Trinidad Wiseman</a>
                </center>
            </div><!--/col-12-->
        </div><!--/row-->
	</div><!--/inline-->
</footer>