<div class="block block-map">
   <h6>Filtreeri tulemusi:</h6>
   
   
   <div class="filter-buttons">
      <label class="theme-4">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_art">Kunst/kästöö</span>
      </label><!--/filter-button-->

      <label class="theme-5">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_nature">Loodus</span>
      </label><!--/filter-button-->

      <label class="theme-3">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_music">Muusika</span>
      </label><!--/filter-button-->

      <label class="theme-7">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_sport">Sport</span>
      </label><!--/filter-button-->

      <label class="theme-6">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_dance">Tants</span>
      </label><!--/filter-button-->

      <label class="theme-1">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_theater">Teater</span>
      </label><!--/filter-button-->


      <label class="theme-2">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_photography">Tehnika</span>
      </label><!--/filter-button-->


      <label class="theme-8">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_courses">Koolitus</span>
      </label><!--/filter-button-->

      <label class="theme-9">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_other">Muu</span>
      </label><!--/filter-button-->

      <label class="theme-10">
         <input type="checkbox" name="filter-button" checked="checked" /><span class="before-event_camp">Laagrid</span>
      </label><!--/filter-button-->
      
   </div><!--/filter-buttons-->
   
   <div class="map" data-plugin="googleMaps" data-json="api/maps.json">
      <img src="assets/imgs/placeholder-62.gif" class="placeholder">
   </div><!--/image-->
   
</div><!--/block-->