<div class="newslist sm-hide">
	<div class="inline">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<h3>Ära maga maha põnevaid<br />sündmusi ja tegevusi!</h3>
				<p>Liitu kultuuriakna teavitusega, ning hoia end kursis<br />uute sündmustega ja huvitegevustega Tartus!</p>
				
				<form method="post" action="">
				<div class="row">
					<div class="col-4">
						<div class="form-item">
							<input type="text" placeholder="Sinu e-post" />
						</div><!--/form-item-->
					</div><!--/col-5-->
					<div class="col-4">
						<div class="form-item">
							<select data-plugin="SumoSelect" placeholder="Vali kategooria">
                        <option value="0">Vali kategooria</option>
                        
                        <optgroup label="Group label">
                           <option value="1">Kategooria 1</option>
                           <option value="2">Kategooria 2</option>
                           <option value="3">Kategooria 3</option>
                           <option value="4">Kategooria 4</option>
                        </optgroup>
                        <optgroup label="Group label 2">
                           <option value="5">Kategooria 21</option>
                           <option value="6">Kategooria 22</option>
                           <option value="7">Kategooria 23</option>
                           <option value="8">Kategooria 24</option>
                        </optgroup>
								
							</select>
						</div><!--/form-item-->
					</div><!--/col-4-->
					<div class="col-4">
						<button class="btn">Telli teavitused</button>
					</div><!--/col-4-->
				</div><!--/row-->
				</form>
			</div><!--/col-8-->
			<div class="col-2"></div>
		</div><!--/row-->
	</div><!--/inline-->
</div><!--/newslist-->