<div class="row vertical-half">
   <div class="col-4">

      <div class="list-item">
         <div class="price">tasuta</div>
         <ul class="tags filled">
            <li class="tag-9"><a href="">muu</a></li>
         </ul>
         <a href="" class="image" style="background-image:url(assets/tmp/list-1.jpg)">
            <img src="assets/imgs/placeholder-56.gif" class="placeholder">
         </a><!--/image-->
         <a href="" class="details">
            <span class="title">Töötuba: LED latern</span>
            <span class="info">
               <p class="before-location">Athena keskus</p>
               <p class="before-calendar">11.11.2016 - 27.11.2016</p>
            </span><!--/info-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor metus sed facilisis pellentesque. Fusce sit amet pellentesque turpis. Nunc imperdiet condimentum lacinia.</p>
         </a><!--/details-->

      </div><!--/list-item-->
   </div><!--/col-4-->
   <div class="col-4">

      <div class="list-item">
         <div class="price">alates 5€</div>
         <ul class="tags filled">
            <li class="tag-1"><a href="">teater</a></li>
         </ul>
         <a href="" class="image" style="background-image:url(assets/tmp/list-1.jpg)">
            <img src="assets/imgs/placeholder-56.gif" class="placeholder">
         </a><!--/image-->
         <a href="" class="details">
            <span class="title">Lasteetendus “Lumekuninganna”</span>
            <span class="info">
               <p class="before-location">Karlova-Ropka raamatukogu</p>
               <p class="before-calendar">19. dets | 11:00 | + 20 aega</p>
            </span><!--/info-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor metus sed facilisis pellentesque. Fusce sit amet pellentesque turpis. Nunc imperdiet condimentum lacinia.</p>
         </a><!--/details-->

      </div><!--/list-item-->
   </div><!--/col-4-->
   <div class="col-4">

      <div class="list-item">
         <div class="price">tasuta</div>
         <ul class="tags filled">
            <li class="tag-2"><a href="">film</a></li>
         </ul>
         <a href="" class="image" style="background-image:url(assets/tmp/list-1.jpg)">
            <img src="assets/imgs/placeholder-56.gif" class="placeholder">
         </a><!--/image-->
         <a href="" class="details">
            <span class="title">Töötuba: LED latern</span>
            <span class="info">
               <p class="before-location">Athena keskus</p>
               <p class="before-calendar">11.11.2016 - 27.11.2016</p>
            </span><!--/info-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor metus sed facilisis pellentesque. Fusce sit amet pellentesque turpis. Nunc imperdiet condimentum lacinia.</p>
         </a><!--/details-->

      </div><!--/list-item-->
   </div><!--/col-4-->
</div><!--/row-->