<div class="accent-background">
	<div class="inline">
		<div class="row">
			<div class="col-12">
				<h3>Mis on Kultuuriaken?</h3>
			</div><!--/col-12-->
		</div><!--/row-->
		<div class="row">
			<div class="col-3 sm-12">
				<center>
					<h5>Kultuur</h5>
					<p>Kultuuriaken toob esile parimad kultuurisündmused Tartumaal. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet accumsan nisi. </p>
				</center>
			</div><!--/col-3-->
			<div class="col-3 sm-12">
				<center>
					<h5>Reklaam</h5>
					<p>Lihtne ja mugav viis oma ürituse reklaamimiseks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet accumsan nisi. </p>
				</center>
			</div><!--/col-3-->
			<div class="col-3 sm-12">
				<center>
					<h5>Vabaaeg</h5>
					<p>Lihtne ja mugav viis oma ürituse reklaamimiseks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet accumsan nisi. </p>
				</center>
			</div><!--/col-3-->
			<div class="col-3 sm-12">
				<center>
					<h5>Mobiilne</h5>
					<p>Uus Kultuuriaken töötab nutitelefonis ja on sinu teeleidja Tartus üskõik, kus asud. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet accumsan nisi. </p>
				</center>
			</div><!--/col-3-->
		</div><!--/row-->
	</div><!--/inline-->
</div><!--/accent_background-->